*{
	margin: 0px;
	padding: 0px;
}
body{
	font-size: 120%;
	background-image:url("abcd.jpg");
}
.header {
	width: 30%;
	margin:100px auto 0px;
	color:white;
	background:rgb(1, 6, 36);
	text-align: center;
	border: 1px solid rgb(3, 15, 20);
	border-bottom:none;
	border-radius: 10px 10px 0px 0px;
	padding: 20px;
	
}
.form1{
	width:30%;
	margin: 0px auto;
	padding:20px;
	border:1px solid #80C4DE;
	background: white;
	border-radius: 0px 0px 10px 10px;
}
.input-group{
	margin: 10px 0px 10px 0px;
}
.input-group label{
	display:block;
	text-align:left;
	margin:3px;
}
.input-group input{
	height:30px;
	width:93%;
	padding: 5px 10px;
	font-size: 16px;
	border-radius: 5px;
	border:1px solid gray;
}
.btn{
	padding:10px;
	font-size:15px;
	color: white;
	background:rgb(1, 6, 36);
	border: none;
	border-radius:5px;
}
.error{
	width:92%;
	margin:0px auto;
	padding:10px;
	border:1px solid #a94442;
	color:#a94442;
	background:#f2dede;
	border-radius:5px;
	text-align:left;	
}
.success{
	color:#3c763d;
	background:#dff0xd8;
	border:1px solid #3c763d;
	margin-bottom: 20px;
	
}
.header1 {
	width: 75%;
	margin: 30px auto 0px;
	color:white;
	background:rgb(1, 6, 36);
	text-align: center;
	border: 1px solid rgb(7, 23, 29);
	border-bottom:none;
	border-radius: 10px 10px 0px 0px;
	padding: 20px;
	
}
.content{
	width:75%;
	margin: 0px auto;
	padding:20px;
	border:1px solid #80C4DE;
	background: rgb(211, 233, 243);
	border-radius: 0px 0px 10px 10px;
}
.form2{
	float:right;
	margin: 0px auto;
	background: white;
}

.btn1, #send_button{
	border:none;
	color:white;
	font-size: 16px;
	background-color: rgb(8, 13, 87);
	cursor: pointer;
	padding: 4px 4px 4px 4px;
}

.btn1, #send_button:hover{
	background-color: rgb(10, 12, 150);
	color: rgb(219, 222, 235);
}

.btn1, #send_button:focus{
	outline: 0;
}